/* SideNav.module.css */
.sideNav {
    width: 250px;
    background-color: #333;
    color: #fff;
    height: 100vh;
  }
  
  .sideNav ul {
    list-style: none;
    padding: 0;
  }
  
  .sideNav li {
    padding: 10px;
  }
  
  .sideNav a {
    color: #fff;
    text-decoration: none;
  }
  